doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        //- <link   rel="stylesheet" href="css/styles.css" />
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        title Natours | Exciting tours for adventurous people
    body
        // HEADER
        include _header

        //SECTION
        section.main 
            h1 Noor Ali

        //FOOTER
        include _footer

        



//- h3= 4 * 4
//- h1 Tour Camp Parker
//- p  This is some text
//- -const x = 9
//- h3= 3 * x
